.row {
  display: flex;
  align-items: center;
  position: relative;
}

.textBlock {
  display: flex;
  flex-direction: column;
  width: 75%;
  font-weight: 600;
  margin-left: 16px;
}

.textBlock > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-right: 20px;
}

.title {
  font-size: 24px;
  color: #f4f4f4;
  margin-bottom: 6px;
  margin-top: 0;
}

.description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 80%;
  gap: 8px;
}
