.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.title {
    font-family: 'Actor', sans-serif;
    font-weight: 400;
    font-size: 36px;
}

.contentModal {
    background-color: #F4F4F4;
    color: #262626;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 32px;
}

.modalTitle {
    margin-bottom: 16px;
}